/* ------------color palette---------- */
:root {
    --color-primary: #163c70;
    --color-hover: rgb(41, 144, 241);
    --color-body: rgb(37, 37, 37);
}

/* ----------- TYPOGRAPHY -------- */
html {
    font-size: 62.5%;
}

body {
    color: var(--color-body);
    font-size: 1.5rem;
    line-height: 1.5;
    max-width: 1140px;
    margin: 0 auto;
}

h1,
h2 {
    color: var(--color-primary);
    margin-top: 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}


h3 {
    color: var(--color-body);
    margin-top: 0;
    font-size: 1.5rem;
}

p {
    margin-top: 0;
    line-height: 1.8;
}

a {
    text-decoration: none;
    color: var(--color-body);
}

/* ------- icons ----------- */
.icon {
    color: #fff;
}

.icon--normal {
    font-size: 2rem;
}

.icon--social {
    font-size: 1.3rem;
    vertical-align: middle;
}

.icon__container {
    background: var(--color-primary);
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 1;
}

.icon__container--social {
    height: 2rem;
    padding: 0;
    width: 2rem;
}

.icon__container--normal {
    height: 3rem;
    padding: .5rem;
    width: 3rem;
}

.icon__container--timeline {
    height: 1rem;
    padding: .3rem;
    width: 1rem;
}

.icon--puzzle-piece {
    transform: rotate(45deg);
    padding-left: .3rem;
}

.icon--tv {
    font-size: 1.5rem;
    padding-top: .3rem
}

/* ----------- LAYOUT --------------- */
main {
    margin: 3rem 2rem;
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    border-left: none;
}

.footer {
    margin: 0;
    height: 25px;
    display: grid;
    grid-template-columns: 150.5px 1fr;
    transform: scaleY(2);
}

.footer__left {
    background: var(--color-primary);
}

/* ------ personal-info section */
.section--info {
    display: grid;
    grid-template-columns: 150px 1fr;
}

.section--info .navbar {
    background-color: var(--color-primary);
}

.personal-info {
    padding-left: 1rem;
}

.name {
    margin-bottom: .5rem;
    transition: color .2s;
}

.name:hover {
    color: var(--color-hover);
}

.career {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--color-primary);
}

.socials {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 35rem 35rem;
    gap: 1.5rem;
    margin-bottom: 3rem;
}

.social__icon {
    height: 2rem;
    padding: .3rem;
    width: 2rem;
}


.social__detail {
    margin-left: .5rem;
}

.personal-description {
    padding-right: 10rem;
}

/* -------- timeline section ---------- */
.timeline {
    display: grid;
    grid-template-columns: 150px 50px 1fr;
}

.timeline__middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline__line {
    width: 3px;
    height: 100%;
    background: #ccc;
    margin: auto;
    display: inline-block;
}

.timeline__detail--inline {
    margin-bottom: 1.5rem;
}

.timeline__icon {
    justify-self: center;
}

.timeline__icon--header {
    margin-top: 0;
}

.timeline__date {
    grid-column-start: 1;
    background-color: var(--color-primary);
    display: block;
    width: 100%;
    height: 100%;
    text-align: end;
    align-self: start;
    color: white;
    padding-right: 1rem;
    margin-top: -1rem;
}

.timeline__date.last {
    margin-bottom: -5rem;
}

.timeline__heading {
    margin-bottom: 1.5rem;
}

.timeline__detail {
    transform: translateY(-0.5rem);
}

.job-title {
    margin-bottom: 0;
}

.job-responsibility {
    padding-left: 1.2rem;
}

.company {
    font-style: italic;
}

.software__detail {
    display: flex;
    justify-content: space-between;
    margin-right: 3rem;
    margin-bottom: 2rem;
}

.software__expertise {
    display: flex;
    flex-direction: column;
    margin-top: .3rem;
}

.software__level {
    display: flex;
}

.software__level-name {
    margin-top: .5rem;
    text-align: end;
}

.software__circle {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: .3rem;
}

.software__circle.active {
    background-color: var(--color-primary);
}


/* ----------- skills section --------------- */

.timeline__detail--inline {
    display: flex;
}

.skill__name {
    font-weight: bold;
    padding-right: 1rem;
}

.bar {
    padding-right: 1rem;
    font-weight: bold;
    font-size: 2rem;
    transform: translateY(-.5rem);
}